* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  width: 90%;
  margin: 20px auto;
}

.contenedor {
  background: white;
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(auto, repeat(12, 1fr));
  grid-template-areas:
    "header    header     header     header     header     header     header     header     header    header     header     header"
    "contenido contenido  contenido  contenido  contenido  contenido  contenido  contenido  sidebar   sidebar    sidebar    sidebar"
    "widget1   widget1    widget1    widget1    widget2    widget2    widget2    widget2    sidebar   sidebar    sidebar    sidebar"
    "footer    footer     footer     footer     footer     footer     footer     footer     footer    footer     footer     footer";
}

.contenedor .header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background: red;
}

.contenedor .contenido {
  grid-area: contenido;
  background: gainsboro;
}

.contenedor .sidebar {
  grid-area: sidebar;
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
  min-height: 100px;
}

.contenedor .widget1 {
  grid-area: widget1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
}

.contenedor .widget2 {
  grid-area: widget2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
}

.contenedor .footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: yellow;
  min-height: 100px;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header    header    header    header "
      "contenido contenido contenido contenido"
      "sidebar   sidebar   sidebar   sidebar"
      "widget1   widget1   widget2   widget2"
      "footer    footer    footer    footer";
  }

  body {
    font-size: small;
  }
}
